mod/*.mod
obj/*.o
bin/*
data/PREM222.BIN
examples/dspec_job*
examples/dspec_cal.out.*
examples/dspec.ts.*
examples/matrix_parts.bin
examples/dspec.out.*
examples/modes.out
examples/mdcpl.out
examples/.ipynb_checkpoints
examples/matrix*.bin
examples/modes.in
examples/modes.in.freq
